select.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #fff;
    outline: 0;
    margin-top: 2rem;
    color: #fff;
    padding: 1rem;
    padding-right: 2rem;
    width: 480px;
    cursor: pointer;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    select.select {
      width: 100%
    }
  }